.profile {
  margin: 1rem auto;
  height: 67.4vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #41464b !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 5rem;
  color: #41464b !important;
}

.nav-link:hover {
  color: #fff !important;
}
.profile-wallet {
  width: 100% !important;
  background: rgba(0, 0, 0, 0.1) !important;
  padding: 1rem !important;

  margin: 0.5rem 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.profile-wallet--list {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 1.3rem;
  border-left: 3px solid red;
  margin: 0.5rem 1rem;
}
#v-pills-profile ul {
  list-style: none;
  display: flex !important;
  flex-wrap: wrap !important;
  padding-inline-start: 0 !important;
  width: 100% !important;
}
#v-pills-products ul li {
  width: 100% !important;
  background: rgba(0, 0, 0, 0.1) !important;
  padding: 1rem !important;
  border-left: 3px solid #0d6efd !important;
  margin: 0.5rem 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

#v-pills-products ul li .profileImgCon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#v-pills-products ul li .profileImgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#v-pills-products ul li .productDetail span {
  display: inline-block;
  margin: 0 1rem;
  background-color: black;
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.add-product--btn {
  color: white !important;
}

.form-group {
  display: flex;
  margin: 2%;
}
.update--btn {
  color: white !important;
}
.modal-content {
  background-color: #475f82 !important;
}

button.nav-link {
  width: 130%;
}

input#formFileLg {
  padding: 0 5rem;
}

.edit-btn:hover,
.edit-btn:focus {
  box-shadow: none !important;
  text-decoration: underline;
}
