.register-main {
  width: 50% !important;
  margin: 5rem auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.register-row {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register--btn {
  margin-top: 8%;
  background-color: #0d6efd !important;
  border: none;
}

.register--btn a {
  color: #fff !important;
}

.register-heading {
  margin: 1rem;
  background: brown;
  padding: 0.5rem 1rem;
}
